pre,
code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:scroll;
}

code { padding: 1px 5px; }

pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}
