
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;}

p, li, badge {
    font-family: 'Inconsolata', monospace;}

h6 { font-size: 13px; }
p { text-align: justify;}

/* Code Block font size*/
pre { font-size: 12px; }

/* Image, Table scrolling */
div.scroll {
    margin-bottom: 10px;
    overflow-x:scroll;}

/* Block quote */
blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 10px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 20px 0;}

/* Table properties */
table, th, td, tr {
    font-size: 12px;
    text-align: right;
    vertical-align: center;
    padding: 2px;}

tr:hover { background-color: #d4ecfe; }

/* Icon */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }


/* https://miketricking.github.io/bootstrap-image-hover/ */
.hovereffect {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.hovereffect:hover .image { opacity: 0.3; }
.hovereffect:hover .middle { opacity: 1;}
