
h1, h2, h3, h4, h5, h6 { 
  font-family: "Courier New", Courier, monospace;
  text-align: left; }

p, li, badge { 
  font-family: 'Inconsolata', monospace;}
  /*font-family: 'Mukta Malar', sans-serif;}*/

h6 { font-size: 13px; }

p { text-align: justify;}

/* Code Block font size*/
pre { font-size: 12px; }

/* Image, Table scrolling */
div.scroll {
    margin-bottom: 10px;
    overflow-x:scroll;}

/* Block quote */
blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 10px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 20px 0;}

/* Table properties */
table, th, td, tr {
    font-size: 12px;
    text-align: right;
    vertical-align: center;
    padding: 2px;}

tr:hover { background-color: #d4ecfe; }

/* Icon */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-22 { font-size: 22px; }
.material-icons.md-24 { font-size: 24px; }

/* https://miketricking.github.io/bootstrap-image-hover/ */
/* https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.hovereffect { 
  position: relative;
  background-color: #2b2b2b;
  overflow: hidden;}

.image {
  opacity: 0.8;
  display: block;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  width: 90%;
  height: 80%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hovereffect:hover .image { opacity: 0.1;}
.hovereffect:hover .middle { opacity: 1;}

.hovereffect h4 {
  color: #fff;
  text-align: center;
  position: relative;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h4 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
