<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

  <a class="navbar-brand" href="https://thsieh4.github.io/"> thsieh4.github.io </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hambugerMenu" aria-controls="hambugerMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="padding: 16px !important;"></span>
  </button>

  <div class="collapse navbar-collapse" id="hambugerMenu">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
      <li class="nav-item">
        <a class="nav-link" href="/post_home">
          <span><i class="material-icons md-20">assignment</i> POSTS </a>
      </li>

      <li class="nav-item"> 
        <a class="nav-link" href="/posts/works/">
          <i class="material-icons md-20">archive</i> WORKS </a>
      </li>

      <li class="nav-item"> 
        <a class="nav-link" href="/tag_page">
          <i class="material-icons md-20">local_offer</i> TAGS </a>
      </li>

      <li class="nav-item"> 
        <a class="nav-link" href="https://thsieh4.github.io/">
          <i class="material-icons md-20">face</i> ABOUT </a>
      </li>
      
<!--       <li class="nav-item">
        <a class="nav-link" href="/posts/testpage/">
          <i class="material-icons md-20">build</i> TEST PAGE </a> 
      </li> -->

    </ul>
    
<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    
  </div>
</nav>
