<!DOCTYPE html>
<html lang="en">
    
    {% include head.html %}

    <body>

    {% include navbar.html %}
        
        <div class="container">
            <div class="row mt-3 mb-5">
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">{{ content }}</div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
                <div class="col-md-1 col-lg-1"></div>
            </div>
        </div>
        
9999
    {% if post.tags.size > 0 %}
      {% capture tags_content %} with <span class="icon-price-tag{% if post.tags.size > 1 %}s{% endif %}"></span>: {% endcapture %}
      {% for post_tag in post.tags %}
        {% assign tag = site.my_tags | where: "slug", post_tag %}
        {% if tag %}
          {% assign tag = tag[0] %}
          {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}">{{ tag.title }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
          {% assign tags_content = tags_content_temp %}
        {% endif %}
      {% endfor %}
    {% endif %}
        
  <p class="m-t-3 text-muted font-italic">
    <small>Posted{% if category_content %} in </small>{{ category_content }}<small>{% endif %}{{ tags_content }}</small>
  </p>

        
    
        
<!--     {% include footer.html %} -->
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        
    </body>
</html>
